
.grid
{
    column-gap: 25px;
    row-gap: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr) );
    width: 100%;
}

.card 
{
  width: 370px;
  align-items: start;
  justify-content: center;
  justify-self: center;
  align-self: start;
}




