.grid
{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr) );
    z-index: 3;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.grid-item 
{
  margin-top: calc(15px - 1.5vh);
  width: 320px;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  justify-self: center;
  align-self: start;
}
  
ion-content 
{
    //--background: url(/assets/91AJai4QGKL._AC_SL1500_.jpg);
    --background: transparent;
    z-index: 2;
}

.backgroundImgContainer
{
  position:fixed;
  z-index: 1;
  height:  100%;
  width:   100%;
  opacity: 0.6;
}

.backgroundImg
{
  position: relative;
  height:  100vh;
  width:   100vw;
  object-fit: cover;
  z-index: 1;
}

.list
{
  position: absolute;
  width: calc(100% - 6vh);
  margin-left: 3vh;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  border-radius: 7px;
  z-index: 3;
}


.hidden-list-content
{
  margin: 0px;
}

.list-element
{
 width: calc(100vw - 6vh);
}
