.card
{
    width: 320px;
    z-index: 7;
    position:fixed;
    margin-left: calc(50vw - 160px);
    top: 50%;
    transform: translateY(-50%);
}

.cardContainer
{
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.3;
    position: fixed;
}

.item-list
{
    margin-top: 5px;
    overflow-y: scroll;
    padding: 0px;
}