<ion-item button (click)="toggleListItem()" color="gainsboro"  lines="full" >
    <ion-text color="darkgrey">
      <p style="font-weight:650;font-size:18px;">{{item.title}}</p>
    </ion-text>
  <ion-button fill="clear" disabled="true" slot="end">
    <ion-icon color="medium" name="{{currentIcon}}"></ion-icon>
  </ion-button>
</ion-item>

<ion-item #content lines="full" class="list-content" >
  <div #InnerContent>
  <img src="{{item.image}}" style=" height: 240px;min-width: 100%; max-width:100%;object-fit: cover;">
    <ion-text>
      <p  style="text-align:center;font-weight: 450;margin: 12px;margin-bottom:0px;max-width: 800px;padding-bottom: 3px;font-weight:550;">{{item.description}}</p>
    </ion-text>
    <ion-item  style="--inner-padding-end:0px" lines="none">
      <ion-text color="danger">
        <p style="font-weight: 550;font-size:14px;margin-left:5px;">{{item.price}}</p>
      </ion-text>
      <ion-button size="large"  slot="end" fill="clear" style="margin:0px" (click)="onClick()">
        <ion-icon color="primary" name="bag-add-outline" style="font-weight:650" ></ion-icon>
      </ion-button>
      </ion-item>
    </div>
</ion-item>
