.card-header
{
  width: 60vw;
  min-width: 360px;
}

.list
{
  padding: 0px;
  margin: 25px;
  overflow-y:scroll;
  padding:0px;
  background-color:#f4f5f8;
}

.card
{
  width: 60vw;
  min-width: 360px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

